<h1>確認画面</h1>

<%= form_with(model:@speak, local: true) do |form| %>
<%= form.hidden_field :content %>

<p>本文:<%= @speak.content %></p>

<%= form.submit "登録する" %>
<%= form.submit "戻る", name: 'back' %>
<% end %>
